Repository JetBrains/compose-multiplatform-core, pull requests merged in 2023-09, with the labels that each got.

#780 Remove Platform.layoutDirection and have it specified directly
  compose/ui/ui/src/desktopMain/kotlin/androidx/compose/ui/awt/ComposeBridge.desktop.kt
  compose/ui/ui/src/desktopMain/kotlin/androidx/compose/ui/awt/ComposeDialog.desktop.kt
  compose/ui/ui/src/desktopMain/kotlin/androidx/compose/ui/awt/ComposePanel.desktop.kt
  compose/ui/ui/src/desktopMain/kotlin/androidx/compose/ui/awt/ComposeSwingLayer.desktop.kt
  compose/ui/ui/src/desktopMain/kotlin/androidx/compose/ui/awt/ComposeWindow.desktop.kt
  compose/ui/ui/src/desktopMain/kotlin/androidx/compose/ui/awt/ComposeWindowDelegate.desktop.kt
  compose/ui/ui/src/desktopMain/kotlin/androidx/compose/ui/awt/WindowComposeBridge.desktop.kt
  compose/ui/ui/src/desktopMain/kotlin/androidx/compose/ui/util/Windows.desktop.kt
  compose/ui/ui/src/desktopMain/kotlin/androidx/compose/ui/window/Dialog.desktop.kt
  compose/ui/ui/src/desktopMain/kotlin/androidx/compose/ui/window/LayoutConfiguration.desktop.kt
  compose/ui/ui/src/desktopMain/kotlin/androidx/compose/ui/window/Window.desktop.kt
  compose/ui/ui/src/desktopTest/kotlin/androidx/compose/ui/awt/ComposePanelTest.kt
  compose/ui/ui/src/desktopTest/kotlin/androidx/compose/ui/window/DialogWindowTest.kt
  compose/ui/ui/src/desktopTest/kotlin/androidx/compose/ui/window/TestUtils.kt
  compose/ui/ui/src/desktopTest/kotlin/androidx/compose/ui/window/window/WindowTest.kt
  compose/ui/ui/src/skikoMain/kotlin/androidx/compose/ui/ComposeScene.skiko.kt
  compose/ui/ui/src/skikoMain/kotlin/androidx/compose/ui/ImageComposeScene.skikoMain.kt
  compose/ui/ui/src/skikoMain/kotlin/androidx/compose/ui/platform/Platform.skiko.kt
  compose/ui/ui/src/skikoMain/kotlin/androidx/compose/ui/platform/SkiaBasedOwner.skiko.kt
Labels: changes in API

#794 Expect `material3.ModalBottomSheet` in common
  compose/material3/material3/src/androidMain/kotlin/androidx/compose/material3/ModalBottomSheet.android.kt
  compose/material3/material3/src/commonMain/kotlin/androidx/compose/material3/ModalBottomSheet.kt
  compose/material3/material3/src/skikoMain/kotlin/androidx/compose/material3/ModalBottomSheet.skiko.kt
  compose/mpp/demo/src/commonMain/kotlin/androidx/compose/mpp/demo/PopupAndDialog.kt
Labels: changes in common, changes in API

#801 Expect `material3.SearchBar` and `material3.DockedSearchBar` in common
  compose/material3/material3/src/androidMain/kotlin/androidx/compose/material3/SearchBar.android.kt
  compose/material3/material3/src/commonMain/kotlin/androidx/compose/material3/SearchBar.kt
  compose/material3/material3/src/skikoMain/kotlin/androidx/compose/material3/SearchBar.skiko.kt
  compose/mpp/demo/src/commonMain/kotlin/androidx/compose/mpp/demo/Example1.kt
Labels: changes in common, changes in API

#804 iOS textfield scroll to caret and one line before
  compose/foundation/foundation/src/androidMain/kotlin/androidx/compose/foundation/text/TextFieldScroll.android.kt
  compose/foundation/foundation/src/commonMain/kotlin/androidx/compose/foundation/text/TextFieldScroll.kt
  compose/foundation/foundation/src/desktopMain/kotlin/androidx/compose/foundation/text/TextFieldScroll.desktop.kt
  compose/foundation/foundation/src/jsWasmMain/kotlin/androidx/compose/foundation/text/TextFieldScroll.jsWasm.kt
  compose/foundation/foundation/src/macosMain/kotlin/androidx/compose/foundation/text/TextFieldScroll.macos.kt
  compose/foundation/foundation/src/uikitMain/kotlin/androidx/compose/foundation/text/TextFieldScroll.uikit.kt
Labels: changes in common

#832 Fix applying `WindowInsets` inside `Popup`/`Dialog`
  compose/foundation/foundation-layout/src/uikitMain/kotlin/androidx/compose/foundation/layout/WindowInsets.uikit.kt
  compose/ui/ui/src/notMobileMain/kotlin/androidx/compose/ui/window/RootLayout.notMobile.kt
  compose/ui/ui/src/skikoMain/kotlin/androidx/compose/ui/platform/PlatformInsets.skiko.kt
  compose/ui/ui/src/skikoMain/kotlin/androidx/compose/ui/window/Dialog.skiko.kt
  compose/ui/ui/src/skikoMain/kotlin/androidx/compose/ui/window/Popup.skiko.kt
  compose/ui/ui/src/skikoMain/kotlin/androidx/compose/ui/window/RootLayout.skiko.kt
  compose/ui/ui/src/uikitMain/kotlin/androidx/compose/ui/platform/PlatformInsets.uikit.kt
  compose/ui/ui/src/uikitMain/kotlin/androidx/compose/ui/window/ComposeWindow.uikit.kt
  compose/ui/ui/src/uikitMain/kotlin/androidx/compose/ui/window/RootLayout.uikit.kt
Labels: changes in API

#833 Add an option to disable insets in `Popup`/`Dialog`
  compose/ui/ui/src/skikoMain/kotlin/androidx/compose/ui/window/Dialog.skiko.kt
  compose/ui/ui/src/skikoMain/kotlin/androidx/compose/ui/window/Popup.skiko.kt
Labels: changes in API

#837 Commonize insets Modifier's
  compose/foundation/foundation-layout/api/desktop/foundation-layout.api
  compose/foundation/foundation-layout/build.gradle
  compose/foundation/foundation-layout/src/androidMain/kotlin/androidx/compose/foundation/layout/WindowInsetsPadding.android.kt
  compose/foundation/foundation-layout/src/commonMain/kotlin/androidx/compose/foundation/layout/WindowInsetsPadding.kt
  compose/foundation/foundation-layout/src/skikoMain/kotlin/androidx/compose/foundation/layout/WindowInsetsPadding.skiko.kt
Labels: changes in common, changes in API

#823 Update callback between recompositions
  compose/material/material/src/androidMain/kotlin/androidx/compose/material/ExposedDropdownMenu.kt
  compose/material/material/src/commonMain/kotlin/androidx/compose/material/ExposedDropdownMenu.kt
  compose/material/material/src/skikoMain/kotlin/androidx/compose/material/ExposedDropdownMenu.skiko.kt
  compose/material3/material3/src/androidMain/kotlin/androidx/compose/material3/ExposedDropdownMenu.kt
  compose/material3/material3/src/commonMain/kotlin/androidx/compose/material3/ExposedDropdownMenu.kt
  compose/material3/material3/src/skikoMain/kotlin/androidx/compose/material3/ExposedDropdownMenu.skiko.kt
Labels: changes in common

#831 Double tap and triple tap gesture handling in textfields on iOS
  compose/foundation/foundation/src/androidMain/kotlin/androidx/compose/foundation/text/TextFieldPointerModifier.android.kt
  compose/foundation/foundation/src/commonMain/kotlin/androidx/compose/foundation/text/CoreTextField.kt
  compose/foundation/foundation/src/commonMain/kotlin/androidx/compose/foundation/text/TextFieldPointerModifier.common.kt
  compose/foundation/foundation/src/commonMain/kotlin/androidx/compose/foundation/text/selection/TextSelectionMouseDetector.kt
  compose/foundation/foundation/src/desktopMain/kotlin/androidx/compose/foundation/text/TextFieldPointerModifier.desktop.kt
  compose/foundation/foundation/src/jsWasmMain/kotlin/androidx/compose/foundation/text/TextFieldPointerModifier.jsWasm.kt
  compose/foundation/foundation/src/macosMain/kotlin/androidx/compose/foundation/text/TextFieldPointerModifier.macos.kt
  compose/foundation/foundation/src/skikoMain/kotlin/androidx/compose/foundation/gestures/TapGesturesDetector.skiko.kt
  compose/foundation/foundation/src/skikoMain/kotlin/androidx/compose/foundation/text/CupertionTextFieldPointerModifier.skiko.kt
  compose/foundation/foundation/src/uikitMain/kotlin/androidx/compose/foundation/text/TextFieldPointerModifier.uikit.kt
Labels: changes in common

#845 Fix enter/exit event order after reverting 1b9c0419
  compose/ui/ui/src/commonMain/kotlin/androidx/compose/ui/input/pointer/HitPathTracker.kt
Labels: changes in common

#752 Revert "Temporarily revert "Remove duplicate events.""
  compose/ui/ui-test-junit4/src/skikoTest/kotlin/androidx/compose/ui/test/ComposeUiSkikoTestTest.kt
  compose/ui/ui/src/androidAndroidTest/kotlin/androidx/compose/ui/input/pointer/HitPathTrackerTest.kt
  compose/ui/ui/src/commonMain/kotlin/androidx/compose/ui/input/pointer/HitPathTracker.kt
  compose/ui/ui/src/desktopTest/kotlin/androidx/compose/ui/ComposeSceneInputTest.kt
  compose/ui/ui/src/desktopTest/kotlin/androidx/compose/ui/TestUtils.kt
  compose/ui/ui/src/desktopTest/kotlin/androidx/compose/ui/input/mouse/MouseHoverTest.kt
  compose/ui/ui/src/desktopTest/kotlin/androidx/compose/ui/input/mouse/MouseMoveTest.kt
Labels: changes in common

#855 Fix outlined text view regression
  compose/foundation/foundation/src/commonMain/kotlin/androidx/compose/foundation/text/CoreTextField.kt
  compose/foundation/foundation/src/commonMain/kotlin/androidx/compose/foundation/text/TextFieldScroll.kt
Labels: changes in common
