Repository JetBrains/compose-multiplatform-core, pull requests merged in 2024-04, with the labels that each got.

#1000 Magnifier for iOS 17+
  compose/foundation/foundation/src/commonMain/kotlin/androidx/compose/foundation/text/LongPressTextDragObserver.kt
  compose/foundation/foundation/src/commonMain/kotlin/androidx/compose/foundation/text/selection/TextFieldSelectionManager.kt
  compose/foundation/foundation/src/macosMain/kotlin/androidx/compose/foundation/text/selection/TextFieldSelectionManager.macos.kt
  compose/foundation/foundation/src/skikoMain/kotlin/androidx/compose/foundation/text/CupertinoTextFieldPointerModifier.skiko.kt
  compose/foundation/foundation/src/uikitMain/kotlin/androidx/compose/foundation/Magnifier.uikit.kt
  compose/foundation/foundation/src/uikitMain/kotlin/androidx/compose/foundation/PlatformMagnifier.uikit.kt
  compose/foundation/foundation/src/uikitMain/kotlin/androidx/compose/foundation/text/selection/SelectionManager.uikit.kt
  compose/foundation/foundation/src/uikitMain/kotlin/androidx/compose/foundation/text/selection/TextFieldSelectionManager.uikit.kt
Labels: changes in common

#1245 Finalize skiko events refactor
  compose/foundation/foundation/src/desktopMain/kotlin/androidx/compose/foundation/Clickable.desktop.kt
  compose/foundation/foundation/src/desktopTest/kotlin/androidx/compose/foundation/internal/KeyEventUtils.desktopMain.kt
  compose/foundation/foundation/src/jsNativeTest/kotlin/androidx/compose/foundation/internal/KeyEventUtils.jsNativeMain.kt
  compose/foundation/foundation/src/macosMain/kotlin/androidx/compose/foundation/gestures/MacosScrollable.macos.kt
  compose/foundation/foundation/src/macosMain/kotlin/androidx/compose/foundation/text/TextFieldKeyInput.macos.kt
  compose/foundation/foundation/src/skikoMain/kotlin/androidx/compose/foundation/Clickable.skiko.kt
  compose/foundation/foundation/src/skikoTest/kotlin/androidx/compose/foundation/ToggleableTest.kt
  compose/foundation/foundation/src/webCommonW3C/kotlin/androidx/compose/foundation/text/TextFieldKeyInput.js.kt
  compose/material/material/src/desktopTest/kotlin/androidx/compose/material/DesktopAlertDialogTest.kt
  compose/material/material/src/desktopTest/kotlin/androidx/compose/material/DesktopMenuTest.kt
  compose/material/material/src/desktopTest/kotlin/androidx/compose/material/SliderTest.kt
  compose/material/material/src/desktopTest/kotlin/androidx/compose/material/internal/KeyEventUtils.kt
  compose/material3/material3/src/desktopTest/kotlin/androidx/compose/material3/DesktopMenuTest.kt
  compose/material3/material3/src/desktopTest/kotlin/androidx/compose/material3/internal/KeyEventUtils.kt
  compose/ui/ui-test-junit4/src/desktopTest/kotlin/androidx/compose/ui/test/KeyInputTest.kt
  compose/ui/ui-test/src/desktopMain/kotlin/androidx/compose/ui/test/DesktopInputDispatcher.desktop.kt
  compose/ui/ui-test/src/jsMain/kotlin/androidx/compose/ui/test/InputDispatcher.jsMain.kt
  compose/ui/ui-test/src/macosMain/kotlin/androidx/compose/ui/test/InputDispatcher.macosMain.kt
  compose/ui/ui-test/src/skikoMain/kotlin/androidx/compose/ui/test/InputDispatcher.skiko.kt
  compose/ui/ui-test/src/uikitMain/kotlin/androidx/compose/ui/test/InputDispatcher.uikitMain.kt
  compose/ui/ui-test/src/wasmJsMain/kotlin/androidx/compose/ui/test/InputDispatcher.wasmMain.kt
  compose/ui/ui/api/desktop/ui.api
  compose/ui/ui/src/desktopMain/kotlin/androidx/compose/ui/awt/AwtEvents.desktop.kt
  compose/ui/ui/src/desktopMain/kotlin/androidx/compose/ui/input/key/Key.desktop.kt
  compose/ui/ui/src/desktopMain/kotlin/androidx/compose/ui/input/key/KeyEvent.desktop.kt
  compose/ui/ui/src/desktopMain/kotlin/androidx/compose/ui/scene/ComposeSceneInputHandler.desktop.kt
  compose/ui/ui/src/desktopMain/kotlin/androidx/compose/ui/scene/ComposeSceneMediator.desktop.kt
  compose/ui/ui/src/desktopTest/kotlin/androidx/compose/ui/ComposeSceneTest.kt
  compose/ui/ui/src/desktopTest/kotlin/androidx/compose/ui/awt/ComposeWindowTest.kt
  compose/ui/ui/src/desktopTest/kotlin/androidx/compose/ui/input/key/KeyInputUtil.kt
  compose/ui/ui/src/desktopTest/kotlin/androidx/compose/ui/window/DesktopPopupTest.kt
  compose/ui/ui/src/jsNativeMain/kotlin/androidx/compose/ui/input/key/KeyEvent.jsNative.kt
  compose/ui/ui/src/jsNativeMain/kotlin/androidx/compose/ui/input/key/NativeKeyEvent.kt
  compose/ui/ui/src/jsNativeMain/kotlin/androidx/compose/ui/input/key/NativePointerEvent.kt
  compose/ui/ui/src/jsNativeMain/kotlin/androidx/compose/ui/native/ComposeLayer.jsNative.kt
  compose/ui/ui/src/jsNativeMain/kotlin/androidx/compose/ui/scene/ComposeSceneInputHandler.jsNative.kt
  compose/ui/ui/src/macosMain/kotlin/androidx/compose/ui/appkit/Events.macos.kt
  compose/ui/ui/src/macosMain/kotlin/androidx/compose/ui/input/key/utf16CodePoint.macos.kt
  compose/ui/ui/src/macosMain/kotlin/androidx/compose/ui/window/ComposeWindow.macos.kt
  compose/ui/ui/src/skikoMain/kotlin/androidx/compose/ui/input/key/KeyEvent.skiko.kt
  compose/ui/ui/src/skikoMain/kotlin/androidx/compose/ui/input/pointer/PointerEvent.skiko.kt
  compose/ui/ui/src/skikoMain/kotlin/androidx/compose/ui/scene/ComposeSceneInputHandler.skiko.kt
  compose/ui/ui/src/skikoMain/kotlin/androidx/compose/ui/scene/ComposeScenePointer.skiko.kt
  compose/ui/ui/src/uikitMain/kotlin/androidx/compose/ui/input/key/KeyEvent.uikit.kt
  compose/ui/ui/src/uikitMain/kotlin/androidx/compose/ui/input/key/utf16CodePoint.uikit.kt
  compose/ui/ui/src/uikitMain/kotlin/androidx/compose/ui/scene/ComposeSceneMediator.uikit.kt
  compose/ui/ui/src/uikitMain/kotlin/androidx/compose/ui/uikit/Events.uikit.kt
  compose/ui/ui/src/uikitMain/kotlin/androidx/compose/ui/window/InteractionUIView.uikit.kt
  compose/ui/ui/src/uikitMain/kotlin/androidx/compose/ui/window/IntermediateTextInputUIView.uikit.kt
  compose/ui/ui/src/uikitMain/kotlin/androidx/compose/ui/window/KeyboardEventHandler.uikit.kt
  compose/ui/ui/src/webCommonW3C/kotlin/androidx/compose/ui/events/Converters.kt
  compose/ui/ui/src/webCommonW3C/kotlin/androidx/compose/ui/input/key/KeyEvent.web.kt
  compose/ui/ui/src/webCommonW3C/kotlin/androidx/compose/ui/input/key/utf16CodePoint.js.kt
  compose/ui/ui/src/webCommonW3C/kotlin/androidx/compose/ui/input/pointer/PointerEvent.web.kt
  compose/ui/ui/src/webCommonW3C/kotlin/androidx/compose/ui/window/ComposeWindow.web.kt
Labels: changes in API

#1264 Check whether event type is KeyDown after processing typed events.
  compose/foundation/foundation/src/commonMain/kotlin/androidx/compose/foundation/text2/input/internal/TextFieldKeyEventHandler.kt
Labels: changes in common

#1292 Fix memory leak on iOS
  compose/mpp/demo/src/uikitMain/kotlin/androidx/compose/mpp/demo/bugs/IosBugs.kt
  compose/mpp/demo/src/uikitMain/kotlin/androidx/compose/mpp/demo/bugs/ModalMemoryLeak.kt
  compose/ui/ui/src/uikitMain/kotlin/androidx/compose/ui/scene/ComposeSceneMediator.uikit.kt
Labels: help wanted
