Repository JetBrains/compose-multiplatform-core, pull requests merged in 2024-01, with the labels that each got.

#988 New line on `NumPadEnter`
  compose/foundation/foundation/src/commonMain/kotlin/androidx/compose/foundation/text/KeyMapping.kt
  compose/foundation/foundation/src/desktopMain/kotlin/androidx/compose/foundation/text/KeyMapping.desktop.kt
  compose/foundation/foundation/src/jsNativeMain/kotlin/androidx/compose/foundation/text/KeyMapping.jsNative.kt
Labels: changes in common

#992 Make `ComposePanel.windowContainer` public
  compose/ui/ui/api/desktop/ui.api
  compose/ui/ui/src/desktopMain/kotlin/androidx/compose/ui/awt/ComposePanel.desktop.kt
  compose/ui/ui/src/desktopMain/kotlin/androidx/compose/ui/awt/ComposeWindowPanel.desktop.kt
  compose/ui/ui/src/desktopMain/kotlin/androidx/compose/ui/platform/PlatformWindowContext.desktop.kt
  compose/ui/ui/src/desktopMain/kotlin/androidx/compose/ui/scene/ComposeContainer.desktop.kt
  compose/ui/ui/src/desktopMain/kotlin/androidx/compose/ui/scene/ComposeSceneMediator.desktop.kt
  compose/ui/ui/src/desktopMain/kotlin/androidx/compose/ui/scene/SwingComposeSceneLayer.desktop.kt
  compose/ui/ui/src/desktopMain/kotlin/androidx/compose/ui/scene/WindowComposeSceneLayer.desktop.kt
Labels: changes in API

#1003 Hide deprecated `DropdownMenu` overloads
  compose/material/material/api/desktop/material.api
  compose/material/material/src/desktopMain/kotlin/androidx/compose/material/DesktopMenu.desktop.kt
  compose/material3/material3/api/desktop/material3.api
  compose/material3/material3/src/skikoMain/kotlin/androidx/compose/material3/SkikoMenu.skiko.kt
Labels: changes in API

#1001 Reintegrate platform-specific FlingBehavior after merge.
  compose/foundation/foundation/src/androidMain/kotlin/androidx/compose/foundation/gestures/AndroidScrollable.android.kt
  compose/foundation/foundation/src/commonMain/kotlin/androidx/compose/foundation/gestures/FlingBehavior.kt
  compose/foundation/foundation/src/commonMain/kotlin/androidx/compose/foundation/gestures/Scrollable.kt
  compose/foundation/foundation/src/jsWasmMain/kotlin/androidx/compose/foundation/gestures/Scrollable.jsWasm.kt
  compose/foundation/foundation/src/jvmMain/kotlin/androidx/compose/foundation/gestures/Scrollable.jvm.kt
  compose/foundation/foundation/src/macosMain/kotlin/androidx/compose/foundation/gestures/Scrollable.macos.kt
  compose/foundation/foundation/src/skikoMain/kotlin/androidx/compose/foundation/gestures/cupertino/CupertinoFlingBehavior.kt
  compose/foundation/foundation/src/skikoTest/kotlin/androidx/compose/foundation/RequestFocusTest.skikoTest.kt
  compose/foundation/foundation/src/skikoTest/kotlin/androidx/compose/foundation/gestures/SkikoScrollableTest.kt
  compose/foundation/foundation/src/uikitMain/kotlin/androidx/compose/foundation/gestures/Scrollable.uikit.kt
  mpp/build.gradle.kts
Labels: changes in common

#999 Add support for text decoration line styles via PlatformTextStyle
  compose/ui/ui-text/api/desktop/ui-text.api
  compose/ui/ui-text/src/skikoMain/kotlin/androidx/compose/ui/text/TextDecorationLineStyle.kt
  compose/ui/ui-text/src/skikoMain/kotlin/androidx/compose/ui/text/TextStyle.skiko.kt
  compose/ui/ui-text/src/skikoMain/kotlin/androidx/compose/ui/text/platform/SkiaParagraph.skiko.kt
Labels: enhancement, changes in API

#984 iOS multitap selection in selection container
  compose/foundation/foundation/src/commonMain/kotlin/androidx/compose/foundation/text/modifiers/SelectionController.kt
  compose/foundation/foundation/src/jsWasmMain/kotlin/androidx/compose/foundation/text/modifiers/SelectionController.jsWasm.kt
  compose/foundation/foundation/src/jvmMain/kotlin/androidx/compose/foundation/text/modifiers/SelectionController.jvm.kt
  compose/foundation/foundation/src/macosMain/kotlin/androidx/compose/foundation/text/modifiers/SelectionController.macos.kt
  compose/foundation/foundation/src/uikitMain/kotlin/androidx/compose/foundation/text/modifiers/SelectionController.uikit.kt
  compose/mpp/demo/src/commonMain/kotlin/androidx/compose/mpp/demo/components/Components.kt
  compose/mpp/demo/src/commonMain/kotlin/androidx/compose/mpp/demo/components/Selection.kt
Labels: changes in common

#1029 Remove deprecated APIs in TooltipArea and PointerEvent.
  compose/foundation/foundation/api/desktop/foundation.api
  compose/foundation/foundation/src/desktopMain/kotlin/androidx/compose/foundation/TooltipArea.desktop.kt
  compose/ui/ui/api/desktop/ui.api
  compose/ui/ui/src/skikoMain/kotlin/androidx/compose/ui/input/pointer/PointerEvent.skiko.kt
Labels: changes in API

#1022 Add ability to change opacity for compose view
  compose/ui/ui/src/uikitMain/kotlin/androidx/compose/ui/scene/UIViewComposeSceneLayer.uikit.kt
  compose/ui/ui/src/uikitMain/kotlin/androidx/compose/ui/uikit/ComposeUIViewControllerConfiguration.uikit.kt
  compose/ui/ui/src/uikitMain/kotlin/androidx/compose/ui/window/ComposeContainer.uikit.kt
  compose/ui/ui/src/uikitMain/kotlin/androidx/compose/ui/window/MetalRedrawer.uikit.kt
  compose/ui/ui/src/uikitMain/kotlin/androidx/compose/ui/window/RenderingUIView.uikit.kt
Labels: changes in API
